<vui-card>
    <vui-view padding="0.75rem" rowGap="0.5rem" height="12rem">
        <vui-text>Image Imports</vui-text>
        <vui-view flexDirection="row" columnGap="0.75rem">
            <vui-list-input [formControl]="control" [hasControls]="true" [showImages]="true" [hasRemove]="false" width="20rem" height="9rem" emptyText="Press + to import an image."></vui-list-input>
            <vui-view rowGap="0.68rem" alignItems="stretch">
                <vui-button (click)="onAdd()">
                    <vui-icon icon="add" color="white" size="medium"></vui-icon>
                </vui-button>
                <vui-button (click)="onClear()">
                    <vui-icon icon="remove" color="white" size="medium"></vui-icon>
                </vui-button>
                <!-- <vui-button>
                    <vui-icon icon="trash" color="white" size="medium"></vui-icon>
                </vui-button> -->
            </vui-view>
        </vui-view>
    </vui-view>
</vui-card>
