@let animationValue = animation();
@if (animationValue) {
    <vui-card class="animation-strip-direction">
        <vui-view [relative]="true" padding="0.5rem 0.5rem 0.5rem 2.25rem" columnGap="0.5rem" flexDirection="row" justifyContent="flex-start" overflow="hidden">
            <vui-text class="title">{{ title() }}</vui-text>
            <vui-view width="100%" columnGap="0.5rem" flexDirection="row" justifyContent="flex-start" [scrollable]="true" style="width: 100%">
                @let allImages = images();
                @for (image of [].constructor(animationValue.length); track $index; let i = $index) {
                    <spc-animation-strip-image [images]="allImages" [index]="i"></spc-animation-strip-image>
                }
            </vui-view>
        </vui-view>
    </vui-card>
}
