.animation-strip-direction {
    width: 100%;

    .sprite {
    }

    .title {
        position: absolute;
        bottom: 1.25rem;
        left: 0.75rem;

        ::ng-deep .text {
            writing-mode: sideways-lr;
        }
    }
}
