<vui-card class="animation-strip-direction">
    <vui-view [relative]="true" padding="0.75rem 0.75rem 0.75rem 2.25rem" columnGap="0.5rem" flexDirection="row" justifyContent="flex-start" overflow="hidden">
        <vui-text class="title">{{ title() }}</vui-text>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
        <vui-image class="sprite" width="8rem" height="8rem" borderRadius="1rem"></vui-image>
    </vui-view>
</vui-card>
