<vui-card>
    <vui-view padding="0.75rem" rowGap="0.5rem" height="12rem" justifyContent="flex-start">
        <vui-text>Export Settings</vui-text>
        <vui-view columnGap="0.5rem" flexDirection="row" width="100%" style="width: 100%" alignItems="center">
            <vui-text size="small">Export Name</vui-text>
            <vui-input [formControl]="nameControl" width="13.75rem"></vui-input>
        </vui-view>
        <vui-view columnGap="0.5rem" flexDirection="row" width="100%" style="width: 100%" alignItems="center">
            <vui-text size="small">Export Type</vui-text>
            <vui-select-input [options]="options" [formControl]="typeControl" width="15rem"></vui-select-input>
        </vui-view>
        <vui-view padding="1.5rem 0 0 0" alignItems="flex-end" width="100%" style="width: 100%">
            <vui-button (click)="onExport()">
                <vui-view flexDirection="row" columnGap="0.5rem">
                    <vui-icon icon="export" color="white" size="button"></vui-icon>
                    <vui-text>Export</vui-text>
                </vui-view>
            </vui-button>
        </vui-view>
    </vui-view>
</vui-card>
<vui-message
    [visible]="messageVisible"
    [closeOnCurtain]="false"
    [text]="messageText"
    (closed)="onToggleMessage()">
</vui-message>
