:host {
    padding-top: 0.5rem;
}

.animation-strip {
    .expander {
        position: absolute;
        padding: 0 0.5rem;
        top: -1.35rem;
        right: 1rem;
        background-color: var(--vui-color-background);
    }
}
