@let animationValue = animation();
@if (animationValue) {
    <vui-named-group class="animation-strip" [name]="animationValue.name" textSize="large">
        <vui-view padding="1rem" [relative]="true" width="100%" rowGap="0.5rem" style="width: 100%">
            <div class="expander" (click)="onToggleExpand()">
                @if (expanded()) {
                    <vui-icon icon="caret-up" size="medium" color="white"></vui-icon>
                } @else {
                    <vui-icon icon="caret-down" size="medium" color="white"></vui-icon>
                }
            </div>
            <spc-animation-strip-direction [title]="displayedDirection()" [animation]="animationValue"></spc-animation-strip-direction>
            @if (expanded()) {
                <vui-view width="100%" rowGap="0.5rem" style="width: 100%">
                    @for (direction of nonDisplayedDirections(); track $index) {
                        <spc-animation-strip-direction [title]="direction" [animation]="animationValue"></spc-animation-strip-direction>
                    }
                </vui-view>
            } @else {
                <vui-view flexDirection="row" justifyContent="center" width="100%" style="width: 100%" (click)="onToggleExpand()">
                    <vui-icon icon="ellipsis" color="white" [actionable]="true"></vui-icon>
                </vui-view>
            }
        </vui-view>
    </vui-named-group>
}
