.header-strip {
    height: 1.25rem;
    padding: 0.5rem 1.5rem;
    background-color: color-mix(in srgb, #27272A,#FFF 5%);
}

.separator {
    height: 3rem;
    min-height: 3rem;
    width: calc(100vw - 4rem);
    background-color: color-mix(in srgb, #27272A,#FFF 5%);
}
